* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fefefe;
}

/*Header*/
header {
    width: 100%;
    text-align: center;
}

#headerTop {
    width: 100%;
    height: 35px;
    background-color: #a9c2ab;
    padding: 0.5em;
}

#headerBottom {
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#headerBottomLeft {
    width: 200px;
    background-color: #a9c2ab;
    height: 65px;
}

#headerBottomMiddle {
    /*background-color: #a9c2ab;*/
    border-top: solid 1px #000;
}

#headerBottomRight {
    background-color: #a9c2ab;
    width: 200px;
    height: 25px;
}

/*Content*/