* {
    margin: 0;
    padding: 0;
}

/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');


/*Body*/

body {
    background-color: #fefefe;
    font-family: 'Alata', sans-serif;
    background-image: url("sampleImg/background.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}


/*Header*/

header {
    width: 100%;
    text-align: center;
}

#headerTop {
    width: 100%;
    height: 35px;
    background-color: #a9c2ab;
    padding: 1.5em;
}

#headerBottom {
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#headerBottomLeft {
    width: 200px;
    background-color: #a9c2ab;
    min-height: 75px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-radius: 0 0 60px 0;
    display: inline-table;
    padding-top: 15px;
    padding-bottom: 50px;
    box-shadow: 2px 5px 5px #00f;
    padding: 2em;
    position: fixed;
    margin-top: auto;
}


#headerBottomMiddle {
    /*background-color: #a9c2ab;*/
    border-top: solid 1px #000;
    width: 100%;
}

#headerBottomRight {
    background-color: #a9c2ab;
    width: 200px;
    height: 45px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-radius: 0 0 0 60px;
    box-shadow: 2px 5px 5px #00f;
}


/*Navigation*/

nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1em;
}

nav button {
    margin: 5px;
}


/*Side Navigation*/

#sideNav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}


/*Content*/

#content {
    border: 1px solid #000;
    max-width: 1400px;
    margin: auto;
    margin-top: 120px;
    min-height: 500px;
    padding: 2em;
}

#sampleFlex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: row;
}

#sampleFlex img {
    max-width: 250px;
}


/*Footer*/

footer {
    margin-top: 120px;
    width: 100%;
    min-height: 40px;
    text-align: center;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1400px) {
    body {
        background-color: #c02b2b;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    body {
        background-color: #d1d1d1;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    body {
        background-color: #adadad;
    }
}

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
    body {
        background-color: #4b4b4b;
    }
}